# Jekyll
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/
.jekyll-assets/

# Bundler
.bundle/
vendor/bundle/

# Ruby
*.gem

# OS
.DS_Store

# Editors
.idea/
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Temporary files
tmp/
*.swp
